<%- include('../partials/header') %>

<div>
<button> <a href="/admin/createuser">créer un compte pour le client</a></button>

<button><a href="/admin/creategalerie">Créer un nouvel album photos</a></button>
<button> <a href="/admin/addphotos">Ajouter des photos dans un album</a></button>
<button> <a href="/admin/showphotos">Afficher les photos d'une gallerie choisie</a></button>
<button> <a href="/admin/deletegalerie">Supprimer une galerie et ses photos</a></button>
<button> <a href="/admin/sendmailclient">Envoyer un mail au client avec son mot de passe provisoire</a></button>


</div>
</form>
<%- include('../partials/footer') %>
