<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Site test</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Accueil</a>
            <% if(user.role == "user") { %>
                <a href="/profile">Accueil de mon espace</a>
                <a href="/myphotos">Mes photos</a>
                <a href="/disconnect">Déconnexion</a>
                <% } else if (user.role == "admin") { %>
                <a href="/admin">Admin</a>
                <a href="/disconnect">Déconnexion</a>
            <% } else {%>
                <a href="/signup">S'inscrire</a>
                <a href="/login">Se connecter</a>
            <% } %>
        </nav>

    </header>