<%- include('./partials/header') %>

    <h3>Je veux qu'un photographe puisse se connecter à son espace personnel pour créer un espace dédié à son client, y ajouter les photos qu'il a prises, en petite résolution, et peut etre 'cachées', que le client puisse sélectionner des photos, les ajouter à son panier, et quand il a payé il peut les télécharger en version optimale</h3>
    <p>Pour ca il me faut :
    </p>
    <ul>
        <li>créer une page login (/login)</li>
        <li>créer une page pour le photographe (/admin)</li>
        <li>creer une page pour le client (qui se connectera avec son email et le mot de passe fourni par le photographe et qui sera amené à modiifer ce mot de passe à la premiere connexion(/compte client)</li>
    </ul>
    <%- include('./partials/footer') %>
