<%- include('partials/header') %>

<div >
  <h2 >Mon Compte</h2>
 <h3>Bienvenue <%= user.firstname %> <%= user.lastname %></h3>
</div>

<button><a href="/myphotos">Voir mes galeries photos</a></button>
<button><a href="/myaccount">Voir les informations de mon compte</a></button>
<button><a href="/disconnect">Me déconnecter</a></button>



<%- include('partials/footer') %>